<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <img
            src="/Imagenes/logo.png"
            alt="Logo"
            style="height: 40px; width: auto"
          />
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/Administrativo/usuarios.html"
          >Administrativo</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Trabajadores/index.html">Trabajadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Clientes/Index.html">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Reporteria/index.html">Reporteria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Inventario/index.html">Inventario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Finanzas/index.html">Finanzas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Ventas/Index.html">Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Flujo/Index.html">Control de Flujo</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><i class="bi bi-box-arrow-in-left"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>
