.table-background-cli {
    align-self:center;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 o 5 columnas por fila */
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    
}